@charset "utf-8";
body {
    font-family: 'poppins', sans-serif;
    background-color: #ffffff;
}

/****** index-main ******/
.index-main {
    height: 100vh;
    padding: 0 70px;

    position: relative;
    display: flex;
    align-items: center;
}
.index-main .list-wrapper {
    font-size: 15px;
    color: #fff;

    position: fixed;
}

.index-main .list-wrapper ul li:not(:first-child) {
    height: 35px;
    margin-top: 10px;
    padding: 8px 18px;
    text-align: left;
    border: rgba(128, 128, 128, 0.1) solid 1px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 30px;
}
.index-main .list-wrapper ul li:hover:not(:first-child) {
    border: #fff solid 1px;
    background-color: transparent;
}

.index-main h1 {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 65vh;
    left: 35vw;
}
.index-main h2 {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 75vh;
    left: 45vw;
}
.index-main p {
    width: 270px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;

    position: absolute;
    top: 25vh;
    left: 60vw;
}

/****** index-project ******/
/* project 1 */
.index-project1 {
    width: 100%;;
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(0%, 0%); */
    background-color: #fff;

    z-index: 999999;
}
.pj1:hover ~ .index-project1 {
    display: block;
}
.index-project1 h1 {
    font-size: 80px;
    color: #ffffff;
    position: absolute;
    top: 65vh;
    left: 20vw;
}
.index-project1 h2 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 25vh;
    left: 35vw;
}
.index-project1 p {
    width: 270px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    top: 70vh;
    left: 75vw;
}
.index-project1 .pj1-img img {
    width: 765px;
    border-radius: 10px;

    position: absolute;
    top: 15vh;
    left: 52vw;
}