@charset "utf-8";
body {
  font-family: 'poppins', sans-serif;
  overflow: hidden;
  color: #fff;
}

.frame-effect {
  width: 40%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 0 9999px #101010;
  pointer-events: none;
}

/* 이미지 스타일 */
.frame-effect img {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


/****** menu-main ******/
.menu-main {
  height: 100vh;
  padding: 0 70px;
  /* background-color: #fff; */

  position: relative;
  display: flex;
  align-items: center;
}

/*** mouse-hover-effect ***/
.hover-underline-menu li a {
  color: #fff;
  text-decoration: none;
  line-height: 2;
  position: relative;
}

.hover-underline-menu li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: -5px;
  right: 0;
  background: #fff;
  transition: width 0.4s ease-out, background-color 0.4s ease-out;
  /* -webkit-transition: width 0.3s ease, background-color 0.3s ease; */
}

.hover-underline-menu li:hover a::after {
  width: 100%;
  left: 0;
  background: #fff;
}

.gray-text {
  color: rgba(128, 128, 128, 0.5) !important;
}

.menu-main .menu-wrapper .menu-inner1 ul {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.5px;
  margin-bottom: 35px;

  display: inline-block;
  position: relative;
}

.menu-main .menu-wrapper .menu-inner2 li {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.menu-main .menu-wrapper .menu-inner2 ul li:not(:first-child) {
  max-width: fit-content; /* 텍스트 길이에 맞도록 */
  align-self: flex-start;
  height: 35px;
  margin-top: 10px;
  padding: 5px 18px;
  text-align: left;
  letter-spacing: 0.5px;
  border: rgba(128, 128, 128, 0.1) solid 1px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 30px;
}
.menu-main .menu-wrapper .menu-inner2 ul li:hover:not(:first-child) {
  border: #fff solid 1px;
  background-color: transparent;
}




/****** menu-side ******/
.menu-side {
  width: 225px;
  margin: 0 70px;
  background-color: #101010;
  font-size: 14px;

  position: absolute;
  top: 30%;
  right: 0%;
}
.menu-side .side-wrapper .side-inner1 {
  padding: 15px 20px 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
.menu-side .side-wrapper .side-inner1 video {
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
}
.menu-side .side-wrapper .side-inner1 h1 {
  font-weight: 550;
}

.menu-side .side-wrapper .side-inner2 {
  margin-top: 10px;
  padding: 15px 20px 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;  
}
.menu-side .side-wrapper .side-inner2 p {
  color: #aaaaaa;
  margin-top: 5px;
}